body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .contenedor {
    text-align: center;
  }
  
  .opciones {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .boton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .boton:hover {
    background-color: #0056b3;
  }
  